<!DOCTYPE html>
<html ng-app="CatAndClick">
<head>
    <script src="../scripts/angular.min.js" type="text/javascript"></script>
    <script src="../scripts/app.js" type="text/javascript"></script>
    <script src="../Controllers/CatAndClick.js" type="text/javascript"></script>
    <title>Click The Cat</title>
    <meta charset="utf-8" />
</head>
<body ng-controller="CatAndClickController">
    <div>
        <table>
            <tr>
                <td ng-repeat="cat in main._catsList" style="border:5px solid black; width:305px; padding:3px">

                    <a ng-click="main.FillTextArea(cat.name)">{{cat.name}}</a>
                </td>

            </tr>
            <tr>
                <td style="border:5px solid black; width:500px; padding:3px" ng-show="main._displayDetails">
                    <div ng-show="main._showBlueJack">
                        <img src="../Images/Blue Jack.jpeg" alt="Mountain View" style="width:500px;height:228px;" title="Click Me..!!" ng-click="main.ClickTheCat(main._selectedCatname)">
                    </div>
                    <div ng-show="main._showCurly">
                        <img src="../Images/Curly.jpeg" alt="Mountain View" style="width:500px;height:228px;" title="Click Me..!!" ng-click="main.ClickTheCat(main._selectedCatname)">
                    </div>
                    <div ng-show="main._showJerry">
                        <img src="../Images/Jerry.jpeg" alt="Mountain View" style="width:500px;height:228px;" title="Click Me..!!" ng-click="main.ClickTheCat(main._selectedCatname)">
                    </div>
                    <div ng-show="main._showKaty">
                        <img src="../Images/Katy.jpeg" alt="Mountain View" style="width:500px;height:228px;" title="Click Me..!!" ng-click="main.ClickTheCat(main._selectedCatname)">
                    </div>
                    <div ng-show="main._showMickey">
                        <img src="../Images/Mickey.jpeg" alt="Mountain View" style="width:500px;height:228px;" title="Click Me..!!" ng-click="main.ClickTheCat(main._selectedCatname)">
                    </div>
                </td>
                <td ng-show="main._displayDetails" style="border:5px solid black; width:100px; padding:3px">
                    Cat Name : {{main._selectedCatname}}
                    <br />
                    Number of Clicks: {{main._selectedClickCount}}
                </td>
            </tr>
        </table>

    </div>
</body>
</html>
